

body, html {
    margin: 0;
    height: 100%;
    max-width: 100vw;
    background-color: var(--light-bg);
}

:root {
    --dark-bg: #340040;
    --dark-font: #dc3d4b;
    --mid-bg: #07F2F2;
    --gray-bg:#D3D3D3;
    --light-bg: white;
}

.container {
    height: 100%;
    display: grid;
    gap: 4px;
    grid-template: 2fr 4fr 4fr 1fr / 1fr 4fr 1.5fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar articles info"
    "sidebar articles info"
    "sidebar footer footer";
}

.container * {
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: sidebar;
    background-color: var(--mid-bg);
}

.header {
    grid-area: header;
    background-color: var(--dark-bg);
    color: var(--dark-font);
}

.sideListMain {
    font-size: 1.25rem;
}

.pitch {
    height: 80px;
    padding-right: 10px;
}

.sideList, .sideListMain {
    display: flex;
    align-items: center;
}

.sideList img {
    height: 30px;
    padding-right: 10px;
}

.articles {
    grid-area: articles;
    background-color: var(--gray-bg);
}

.articles * {
    background-color: var(--light-bg);
}

.info {
    grid-area: info;
    background-color: var(--gray-bg);
}

.footer {
    background-color: var(--dark-bg);
    grid-area: footer;
}